.my-tools-avatar{
  border-radius: 50%;
  border: 1px solid $base-gray;
  width: 4rem;
  height: 4rem;
}

.my-tools-logo{
  width: 4rem;
  height: 4rem;
}


.sticky-note-wrapper{
  height: 100px;
  padding: 0 !important;
}


.sticky-note-image{
  width: 100px;
  height: 100px;

  &:hover{
    transform: scale(2);

  }
}


.sticky-note-name{
  position: relative;
  width: 100px;
  height: 100px;
  padding: 20px;
  font-size: 0.7rem;
  text-align: center;
  top: -100px;
  text-overflow: ellipsis;
  pointer-events: none;
  word-wrap: break-word;
}


.sticky-note-opend{
  visibility: hidden;
  position: absolute;
  width: 500px;
  height: 500px;
}

.my-tools-icon{
  width: 2rem;
  height: 2rem;
}

.my-tools-meeting-header{
  text-align: center;
  font-size: 1.5rem;
  width: 360px;
  margin: 0 auto;
}

.my-tools-contdown{
  text-align: center;
}

.my-tools-message-input{
  width: 93%;
}

.my-tools-body{
  width: 100%;
  height: 100%;
}

.my-tools-draggable-box{
  position: relative;

}

.my-tools-sticky-note-draggable{
  width: 60px;
  height: 60px;
}

.draggable-wrapper{
  height: 100%;
}

.react-draggable .react-draggable-dragging .react-draggable-dragged{
  width: 60px !important;
}

.my-tools-sticky-note-section{
  position: relative;
  overflow: hidden;
}

.draggable-wrapper{
  position: relative;
}

.my-tools-plus-icon{
  position: absolute;
  bottom: 0;
  right: 0;
}


