.my-tools-avatar{
  border-radius: 50%;
  border: 1px solid $base-gray;
  width: 4rem;
  height: 4rem;
}

.my-tools-logo{
  width: 4rem;
  height: 4rem;
}


.sticky-note-wrapper{
  height: 100px;
  padding: 0 !important;
}


.sticky-note-image{
  width: 100px;
  height: 100px;

  &:hover{
    transform: scale(1.1);

  }
}


.sticky-note-name{
  position: relative;
  width: 100px;
  height: 100px;
  padding: 20px;
  font-size: 0.7rem;
  text-align: center;
  top: -100px;
  text-overflow: ellipsis;
  pointer-events: none;
  word-wrap: break-word;
}


.sticky-note-opend{
  visibility: hidden;
  position: absolute;
  width: 500px;
  height: 500px;
}

.my-tools-icon{
  width: 2rem;
  height: 2rem;
}

.my-tools-meeting-header{
  text-align: center;
  font-size: 1.5rem;
  width: 360px;
  margin: 0 auto;
}

.my-tools-contdown{
  text-align: center;
}

.my-tools-message-input{


}

.my-tools-message-wrapper{
  height: 90%;
}
