
.navbar-light {
   background-color: white;
    .navbar-nav{
        a.nav-link{
           
                color : $base-purple;
                font-size: 1.1rem;
                padding-right: 50px;
        }
       
    }
} 