
.recomendation-card-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap:5%;
    > div{
        text-align:center;
        border : 1px solid $base-purple;
        border-radius: 10px;
        img{
            border-radius: 50%;
        }


    }
    
}


.circles{
    padding-top:30px;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content : center;

}

#circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border : 1px solid $base-purple;
}