@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

* {
    @media only screen and (max-device-width: 480px){
        font-size: 15px;
    }
    font-family: 'Nunito', sans-serif;
    color: $base-purple;
    padding:5px;
    font-size: 1.1vw;

body{
    
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
    h2{
        font-size: 1.6rem;
        font-weight: 400;
    }
    h3{
        font-size: 1.3rem;
        font-weight: 700;
    }
}

}


$theme-colors: (
    "info": tomato,
    "danger": teal
);

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FF5E78 !important;
}



/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";